*
{
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	text-align: justify;
	color: white;
	font-family: 'Gayathri', sans-serif;
}
*::selection
{
	color: black;
	background-color: white;
}
h2
{
	font-size: 32px;
	text-align: left;
	padding: 7px;
}
h3
{
	font-size: 29px;
	text-align: left;
	padding: 7px; 
}
p
{
	font-size: 18px;
	padding: 8px;
}
img
{
	cursor: pointer;
}
#header, #footer
{
	width: 1260px;
	height: 650px;
}
#header
{
	background-image: url(bghead.png);
	position: center;
	background-size: cover;
	margin-bottom: -430px;
}
.game
{
	position: absolute;
	color: white;
	font-size: 130px;
	margin: 50px 0px 0px 50px;
}
#search
{
	margin: 150px 0px 0px 1060px;
	width: 120px;
	height: 30px;
	color: black;
	border-radius: 10px;
	padding-top: 5px;
	padding-left: 20px;
	font-size: 20px;
}
#search:focus
{
	margin: 150px 0px 0px 878px;
	transition: .5s;
	width: 300px;
	border: 3px solid #847f7f;
	outline: none;
	background-color: #c1fffa;
}
.searchicon
{
	position: absolute;
	margin: 152px 0px 0px -45px;
	width: 38px;
	z-index: 1;
}
.searchicon:active
{
	transform: scale(0.9);
}
#navbar
{
	position: sticky;
	top: 0px;
	height: 60px;
	width: 1260px;
	background-color: black;
	z-index: 1;
}
#marg
{
	margin-left: 80px;
}
#navbar ul li
{
	float: left;
	line-height: 60px;
	width: 130px;
	font-size: 30px;
	text-align: center;
	border-left: 1px solid white;
	color: white;
	background-color: black;
}
#navbar ul li:hover
{
	transition: .2s;
	transform: scale(1.2);
	margin-top: 6px;
	background: linear-gradient(to top, grey, black);
}
#navbar ul li:active
{
	transition: .2s;
	transform: scale(1.1);
	margin-top: 3px;
	background: linear-gradient(to bottom, grey, black);
}
#middle1
{
	position: absolute;
	width: 1140px;
	height: 660px;
	margin-left: 60px;
	background-color: #3a3a3a;
}
.creed
{
	width: 760px;
	height: 428px;
}
.codware
{
	position: absolute;
	margin: -430px 0px 0px 760px;
	width: 380px;
	height: 300px;
}
.fallguy
{
	position: absolute;
	margin: -130px 0px 0px 760px;
	width: 380px;
	height: 300px;
}
.codware:hover img, .fallguy:hover img
{
	position: relative;
	z-index: 1;
	transition: .2s;
	transform: scale(1.2);
	overflow: visible;
}
.creeddata
{
	width: 760px;
	height: 170px;
}
#middle2
{
	position: relative;
	margin-top: 660px;
	margin-left: 60px;
	width: 1140px;
	height: 60px;
	overflow: hidden;
}
.lat, .pop, .fea
{	
	width: 380px;
	line-height: 60px;
	background-color: green;
	float: left;
}
.pop
{
	background-color: #0083ff;
}
.fea
{
	background-color: black;
}
#con
{
	margin-left: 60px;
	height: 1800px;
	width: 1140px;
	background-color: #3a3a3a;
}
#middle3, #middle4, #middle5
{
	width: 380px;
	height: 1800px;
	float: left;
}
.mid3, .mid3a
{
	width: 380px;
	height: 300px;
	overflow: hidden;
	cursor: pointer;
}
#middle4 .mid3 img, #middle5 .mid5a img
{
	margin-left: -20%;
}
.mid3:hover, .mid5a:hover
{
	transition: .2s;
	transform: scale(1.2);
	overflow: visible;
}
.mid3:hover h2
{
	text-align: center;
}
.mid5a, .mid5b
{
	width: 190px;
	height: 150px;
	float: left;
	overflow: hidden;
}
#l2 h2
{
	padding-top: 36px;
}
#l1 h2
{
	line-height: 150px;
}
#l3 h2
{
	padding-top: 17px;
}
#footer
{
	position: absolute;
	z-index: -1;
	background-image: url(bgfoot.png);
	margin-top: -220px;
	overflow: hidden;
}
table
{
	position: absolute;
	margin: 280px 0px 0px 150px;
}
th, td
{
	height: 29px;
	width: 180px;
	text-align: left;
}
th
{
	font-size: 28px;
}
td
{
	font-size: 15px;
	color: yellow;
}